.main-container {
    margin: 1px;
    margin-top: 0;
}

.add-user {
    margin-top: 15px;
    margin-left: 0;
    padding: 0.7%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: green;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border: 0;
    margin-left: 12px;
}

.back-btn {
    background-color: silver;
    color:black;
    font-size:85%;
    font-weight:500;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 25% auto;
    background-color: white;
    padding: 10px;
    width: 65%;
    grid-column-gap: 0px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 120%;
    text-align: left;
}

.del-user {
    background-color: lightpink;
    padding-top: 2.2%;
    padding-bottom: 2.2%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    text-align: center;
    font-weight: 550;
    border: 0;
}

.form-container {
    margin-left: 12px;
}

label {
    color: grey;
}

form {
    width: 30%;
}

input {
    margin-left: 15px;
    width:55%;
    padding-top:6px;
    padding-bottom:6px;
    font-size:90%;
    text-align: left;
    border : 1px solid silver;
}

.subscribe-info {
    margin-top:30px;
    margin-left: 12px;
}

.subscribe-header {
    color:lightblue;
    font-weight:550;
    margin-bottom:0px;
}

.subscribe-info> span{
    color:grey;
}